{% for record in data %}
/// Krokhin Wilkins Retention Coefficient for {{ record.0 }}
///
pub const KWRC_{{ record.0|upper_snake_case }}: RetentionCoefficient = RetentionCoefficient { 
    rn: {{ record.2|f32_to_string }}, 
    rcnt: {{ record.3|f32_to_string }},
};
{% endfor %}

/// Get Krokhin Wilkins Retention Coefficient for an amino acid by amino acid one letter code
/// 
/// # Arguments
/// * `code` - One letter amino acid code
/// 
pub fn get_retention_coefficient(code: char) -> Result<&'static RetentionCoefficient> {
    match code {
{% for record in data %}
        '{{ record.1 }}' => Ok(&KWRC_{{ record.0|upper_snake_case }}),
{% endfor %}
        _ => bail!("No Krokhin Wilkins Retention Coefficient for '{}'", code),
    }
}